* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    }

body {
    padding: 10px;
    font-family: georgia, serif;
    background-color: #222;
    color: white;
    max-width: 450px;
    margin: auto;
    line-height: 1.4;
    }

a {
    color: hsl(0,100%,60%);
    text-decoration: none;
    border-bottom: 1px solid;
    }
a:visited {
    color: hsl(0,10%,60%);
    }
a:hover, a:active {
    color: white;
    }
a:focus {
    outline: 1px dotted white;
    }
a[target="_blank"] {
    background-image: url('../images/export.svg');
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: 99% 65%;
    
    padding-right: 15px;
    }

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    font-family: "segoe ui", sans-serif;
    text-transform: Capitalize;
    }

p, ul {
    margin-bottom: 10px;
    }

ul {
    padding-left: 20px;
    list-style: square;
    }

h1, h2 {
    margin-bottom: 20px;
    }

.emoji {
    font-size: 1.4rem;
    }

.main-header, .post {
    margin-bottom: 100px;
    }

.main-header {
    }
.main-header a {
    font-weight: bold;
    }
.main-header a:visited,
.post_body h2 a {
    color: hsl(0,100%,60%);
    }
.title a {
    color: white;
    border: 0;
    }
.title a:visited {
    color: white;
    }

@media (min-width: 500px) {
    .post {
        display: flex;
        flex-direction: row;
        } 

    .project-date {
        font-family: "segoe ui", sans-serif;
        font-weight: bold;
        font-size: 1rem;
        margin-right: 10px;
        display: inline-block;
        vertical-align: baseline;
        background-color: hsl(0,100%,60%);
        padding: 5px;
        }
    .post_body h2 {
        display: inline-block;
        vertical-align: baseline;
        }
    }